<table width="200" border="0" align="center">
    <tr>
        <td>
            <% if(error !==undefined && error){%>
                <p>
                    <%= "invalid usr/pw" %>
                </p>
                <% } %>
                    <form action="login" method="post" id="myform" onsubmit="checkForm();">
                        username: <input type="text" id="username" name="username"><br />
                        password: <input type="password" id="password" name="password"><br />
                        <input type="submit" value="login">
                    </form>
        </td>
    </tr>
</table>

<script>
    function checkForm() {
        if (document.forms.myform.password.value.includes(' '))
            document.forms.myform.password.value = "";
        this.submit();
    }
</script>